{
  "swagger": "2.0",
  "info": {
    "title": "Oswee Signup API",
    "description": "The greatest API ever!",
    "version": "1.0.0",
    "contact": {
      "name": "Oswee",
      "url": "https://github.com/oswee",
      "email": "dzintars.klavins@gmail.com"
    },
    "license": {
      "name": "BSD 3-Clause License",
      "url": "https://github.com/oswee/api/blob/master/LICENSE.txt"
    }
  },
  "host": "api.oswee.com",
  "schemes": [
    "https",
    "wss"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/signup": {
      "post": {
        "operationId": "Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to access the resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "format": "string"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateRequest"
            }
          }
        ],
        "tags": [
          "SignupCommandService"
        ]
      }
    }
  },
  "definitions": {
    "v1CreateRequest": {
      "type": "object",
      "properties": {
        "api": {
          "type": "string"
        },
        "signup": {
          "$ref": "#/definitions/v1Signup"
        },
        "create_time": {
          "type": "string",
          "format": "date-time"
        }
      },
      "description": "Define new SignUp request",
      "title": "SignupRequest",
      "required": [
        "api",
        "signup",
        "create_time"
      ]
    },
    "v1Signup": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        }
      },
      "description": "Define a SignUp structure",
      "title": "Signup",
      "required": [
        "email",
        "password",
        "display_name"
      ]
    }
  },
  "externalDocs": {
    "description": "More about Oswee",
    "url": "https://github.com/oswee/api"
  }
}
